<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
</head>
<body>
<header class="docx-head">
    <span>{{headText}}</span>
</header>
<div class="doxc-search">
    <div class="docx-form-wr">
        <form action="/search">
            <input type="text" placeholder="Search..." class="docx-searchkey">
        </form>
    </div>
</div>
<div class="docx-body">
    <div class="docx-links">
        {{#each links}}
        <div class="docx-linslist">
            <a href="{{url}}">{{name}}</a>
        </div>
        {{/each}}
    </div>
    <div class="docx-lastest">
        <header class="docx-lastest-header">最近更新</header>
        <ul class="docx-lastest-list">

        </ul>
    </div>
</div>

<script src="/javascripts/jq.min.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>