<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
    <style>
        html,body {
            margin: 0;
            padding: 0;

        }

    </style>
</head>
<body>
<header class="docx-head">
    <span>PS-DOC</span>
</header>
<div class="doxc-search">
    <form action="/search">
        <input type="text" placeholder="Search..." class="docx-searchkey">
    </form>
</div>
<script src="/javascripts/jq.min.js"></script>
</body>
</html>