<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/md.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/highlight.css"/>
    <style>
        html,body {
            margin: 0;
            padding: 0;

        }
        .nav{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .nav a{
            text-decoration: none;
            color: #333;
            line-height: 32px;
            height: 32px;
            display: block;
        }
        .nav-title {
            font-weight: bold;
        }
        li{
            list-style-type: none;
        }
        .nav-name {
            line-height: 32px;
            background: #3369E8;
            color: #FFF;
            border-radius: 2px;
            padding: 0 10px;
            margin-bottom: 5px;
        }
        .nav-select {
            background: #3369E8;
        }
        .nav-tree {
            width: 30%;
            height: 100%;
            overflow: auto;
            float: left;
        }
        .docx-textarea {
            width: 69%;
            min-height: 100%;
            height: 100%;
            overflow: auto;
            border-left: 2px solid #3369E8;
        }
        .docx-marked{
            padding: 10px 15px;
        }
        .docx-text{
            padding: 3% 2%;
        }
        .docx-head{
            height: 55px;
            background: #3369E8;
            color: #FFF;
            line-height: 55px;
            text-indent: 5%;
            font-weight: bold;
            font-size: 23px;
        }
        .submenu{
            padding-left: 1em;
        }
        .open>.submenu{
            max-height: 1000px;
        }
        .docx-searchkey{
            height: 26px;
            line-height: 26px;
            width: 200px;
            border: none;
            text-indent: 1em;
            border-radius: 2px;
            margin: 10px;
            position: absolute;
            top: 3px;
            right: 0;
            outline: none;
        }
        .docx-trwrap{
            padding: 10px 15px;
            margin: 0;
        }
    </style>
</head>
<body>
<header class="docx-head">
    <span>PS-DOC</span>
    <div class="doxc-search">
        <form action="/search">
            <input type="text" placeholder="Search..." class="docx-searchkey">
        </form>
    </div>

</header>
<div class="docx-content">
    <div class="nav-tree">
        <ul class="docx-trwrap">
            {{{navData}}}
        </ul>
    </div>
    <div class="docx-textarea markdown-body">
        <div class=" docx-marked">
            {{{mdData}}}
        </div>
    </div>
</div>
<script src="/javascripts/jq.min.js"></script>
<script src="/javascripts/jq.pjax.js"></script>
<script>
    var $win = $(window);
    $('.docx-content').height($win.height()-$('.docx-head').height());

    $('.nav-dir').on('click', function () {
        var $target = $(this);
        if ($target.hasClass('open')) {
            $target.removeClass('open');
        }
        else {
            $target.addClass('open');
            $target.siblings('.nav-dir').removeClass('open');
        }
    });
    if ($.support.pjax) {
        $(document).pjax('a[href$=".md"]', '.docx-marked')
    }

</script>
</body>
</html>