<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/md.css"/>
    <style>
        html,body {
            margin: 0;
            padding: 0;

        }
        .nav{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .nav a{
            text-decoration: none;
            color: #333;
            line-height: 32px;
            height: 32px;
            display: block;
        }
        .nav-title {
            font-weight: bold;
        }
        li{
            list-style-type: none;
        }
        .nav-name {
            line-height: 32px;
            background: #ace;
        }
        .nav-select {
            background: #ace;
        }
        .nav-tree {
            width: 30%;
            height: 100%;
            overflow: auto;
            float: left;
        }
        .docx-textarea {
            width: 65%;
            min-height: 100%;
            height: 100%;
            overflow: auto;
        }
        .docx-text{
            padding: 3% 2%;
        }
        .docx-head{
            height: 55px;
            background: #131e25;
            color: #FFF;
            line-height: 55px;
            text-indent: 5%;
            font-weight: bold;
            font-size: 23px;
        }
        .submenu{
            max-height: 0;
            -webkit-transition: max-height 2s;
            transition: max-height 2s;
        }
        .open>.submenu{
            max-height: 1000px;
        }
    </style>
</head>
<body>
<header class="docx-head">PS-DOC</header>
<div class="docx-content">
    <div class="nav-tree">
        <ul class="accordion">
            {{{navData}}}
        </ul>
    </div>
    <div class="docx-textarea">
        <div class="markdown-body docx-text">
            {{{mdData}}}
        </div>
    </div>
</div>
<script src="/javascripts/jq.min.js"></script>
<script src="/javascripts/jq.pjax.js"></script>
<script>
    var $win = $(window);
    $('.docx-content').height($win.height()-$('.docx-head').height());

    $('.nav-dir').on('click', function () {
        var $target = $(this);
        if ($target.hasClass('open')) {
            $target.removeClass('open');
        }
        else {
            $target.addClass('open');
            $target.siblings('.nav-dir').removeClass('open');
        }
    });

    $.pjax({
        selector: 'a[href$=".md"]',
        container: '.docx-textarea', //内容替换的容器
        show: '',  //展现的动画，支持默认和fade, 可以自定义动画方式，这里为自定义的function即可。
        cache: false,  //是否使用缓存  2*3600
        storage: false,  //是否使用本地存储
        titleSuffix: '', //标题后缀
        filter: function(){},
        callback: function(){}
    });

</script>
</body>
</html>