extends layout

block head
  style.
    html,body {
      margin: 0;
      padding: 0;

    }
    .nav{
      line-height: 32px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .nav a{
      text-decoration: none;
    }
    .nav-title {
      font-weight: bold;
    }
    .nav-dir {

    }
    li{
      list-style-type: none;
    }
    .nav-name {
      line-height: 32px;
      background: #ace;
    }
    .nav-tree {
      width: 30%;
      height: 100%;
      overflow: auto;
      float: left;
    }
    .docx-textarea {
      width: 65%;
      min-height: 100%;
      padding: 0 2%;
      height: 100%;
      overflow: auto;
    }
    .docx-head{
      height: 55px;
      background: #131e25;
      color: #FFF;
      line-height: 55px;
      text-indent: 5%;
      font-weight: bold;
      font-size: 23px;
    }
block content
  header.docx-head PS-DOC

  div.docx-content
    div.nav-tree
      ul.accordion
        #{navData}
    div.docx-textarea
        #{mdData}
block bodyfoot
    script.
      var $win = $(window);
      $('.docx-content').height($win.height()-$('.docx-head').height());