.nav-tree {
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.docx-textarea {
    width: 71%;
    display: inline-block;
    height: 100%;
    margin: 40px 0 40px 2%;
}
.docx-text{
    padding: 3% 2%;
}
.docx-head{
    height: 55px;
    background: #3369E8;
    color: #FFF;
    line-height: 55px;
    padding: 0 25px;
    font-weight: bold;
    font-size: 23px;
}
.nav .iconfont {
    width: 16px;
    height: 16px;
}
.docx-marked {
    padding: 10px 40px;
}
.markdown-body{
    margin-top: 15px;
}
.docx-navs{
    padding-bottom: 30px;
}
.docx-navs>li li {
    list-style: none;
}
#docx-navs>li ul>li>a {
    color: #30a5ff;
    background-color: inherit;
}
.docx-submenu>li{
    position: relative;
    display: block;
    padding: 10px 0;
}



