@font-face {font-family: 'fa';
    src: url('/icon/fontawesome-webfont.eot'); /* IE9*/
    src: url('/icon/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/icon/fontawesome-webfont.woff') format('woff'), /* chrome、firefox */
    url('/icon/fontawesome-webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/icon/fontawesome-webfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.nav-tree {
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.docx-textarea {
    width: 71%;
    display: inline-block;
    height: 100%;
    margin: 40px 0 40px 2%;
}
.docx-text{
    padding: 3% 2%;
}
.docx-head{
    height: 55px;
    background: #222;
    color: #FFF;
    line-height: 55px;
    padding: 0 25px;
    font-weight: bold;
    font-size: 23px;
}
.nav .iconfont {
    width: 16px;
    height: 16px;
}
.docx-marked {
    padding: 10px 40px;
}
.markdown-body{
    margin-top: 15px;
}
.docx-navs{
    padding-bottom: 20px;
}
.docx-navs>li li {
    list-style: none;
}
#docx-navs>li ul>li>a {
    color: #222;
    background-color: inherit;
    line-height: 40px;
    display: block;
    text-decoration: none;
}
.docx-submenu>li{
    position: relative;
}
.nav-title:hover, .nav-title:focus {
    text-decoration: none;
    background-color: #e9ecf2;
}
.docx-submenu{
    padding-left: 0;
}
.docx-submenu>li>a{
    padding-left: 2em;
}

.docx-submenu>li>.docx-submenu>li>a{
    padding-left: 4em;
}

.docx-submenu>li>.docx-submenu>li>.docx-submenu>li>a{
    padding-left: 6em;
}
.docx-submenu a:hover{
    text-decoration: none;
    background-color: #eee;
}
.active>a>.fa.arrow:before {
    content: "\f107";
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 fa;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*.fa{
    font-family:"fa" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}*/
.sidebar .arrow {
    position: absolute;
    right: 16px;
    top: 12px;
}
.docx-active{
    color: #222;
    background-color: #e9ecf2;
}
.doc-search-link {
    display: block;
}
.docx-search-art {
    line-height: 30px;
}
.docx-fade {
    opacity: .3;
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -m-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-transition: all 700ms;
    -moz-transition: all 700ms;
    -m-transition: all 700ms;
    transition: all 700ms;
}
.docx-fade-active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -m-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.docx-dir>a:hover {
    color: #222;
    background-color: #e9ecf2!important;
}