html,body {
    margin: 0;
    padding: 0;

}
@font-face {font-family: 'iconfont';
    src: url('/icon/iconfont.eot'); /* IE9*/
    src: url('/icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/icon/iconfont.woff') format('woff'), /* chrome、firefox */
    url('/icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*.nav{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.nav a{
    text-decoration: none;
    color: #333;
    line-height: 32px;
    height: 32px;
    display: block;
    padding: 0 10px;
    font-weight: normal;
}
.nav-title {
    font-weight: bold;
}
li{
    list-style-type: none;
}*/
/*.nav-name {
    line-height: 32px;
    border-radius: 2px;
    padding: 0 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.nav-select a{
    color: #3369E8;
}*/
.nav-tree {
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
/*.nav-disname,.nav-filename{
    margin-left: .5em;
}*/
.docx-textarea {
    width: 71%;
    display: inline-block;
    height: 100%;
    margin: 40px 0 40px 2%;
}
.docx-marked{
    padding: 0 15px 10px 15px;
}
.docx-text{
    padding: 3% 2%;
}
.docx-head{
    height: 55px;
    background: #3369E8;
    color: #FFF;
    line-height: 55px;
    padding: 0 25px;
    font-weight: bold;
    font-size: 23px;
}
/*.docx-submenu{
    padding-left: 1em;
    display: none;
}
.docx-open>.docx-submenu{
    display: block;
}*/

.nav .iconfont {
    width: 16px;
    height: 16px;
}
.docx-searchkey {
    height: 26px;
    line-height: 26px;
    width: 200px;
    border: none;
    text-indent: 1em;
    border-radius: 2px;
    margin: 10px;
    position: absolute;
    top: 3px;
    right: 0;
    outline: none;
}
/*.docx-trwrap {
    padding: 10px 15px;
    margin: 23px 0;
}*/
.docx-marked {
    padding: 10px 40px;
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.19);
}
@media (max-width: 767px){
    .nav-tree {
        display: none!important;
    }
    .docx-textarea {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}
.docx-search-title{
    font-size: 24px;
    margin-bottom: 3px!important;
}
.docx-search-art{
    margin-bottom: 2em;
}
.doc-search-link{
    display: block;
}




.sidebar {
    display: block;
    float: left;
    width: 250px;
    background: #333;
}
.content {
    display: block;
    overflow: hidden;
    width: auto;
}
.sidebar-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-image: -webkit-linear-gradient(left, color-stop(#333333 10px), color-stop(#222222 10px));
    background-image: linear-gradient(to right, #333333 10px, #222222 10px);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
    outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
    display: block;
}
.sidebar-nav ul a {
    padding: 10px 20px;
    color: #aaa;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
    color: #fff;
    text-decoration: none;
}
.sidebar-nav ul ul a {
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
    background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
    padding-left: 5px;
}
.sidebar-nav-item-icon {
    padding-right: 5px;
}
#rtlh3 small {
    transform: rotateY(180deg);
    display: inline-block;
}
