@font-face {font-family: 'fa';
    src: url('/icon/fontawesome-webfont.eot'); /* IE9*/
    src: url('/icon/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/icon/fontawesome-webfont.woff') format('woff'), /* chrome、firefox */
    url('/icon/fontawesome-webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('/icon/fontawesome-webfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.nav-tree {
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.docx-textarea {
    width: 71%;
    display: inline-block;
    height: 100%;
    margin: 40px 0 40px 2%;
}
.docx-text{
    padding: 3% 2%;
}
.docx-head{
    height: 55px;
    background: #222;
    color: #666;
    line-height: 55px;
    padding: 0 25px;
    font-weight: bold;
    font-size: 23px;
}
.nav .iconfont {
    width: 16px;
    height: 16px;
}
.docx-marked {
    padding: 10px 40px;
    padding: 0 6% 120px 4%;
}
.docx-navs{
    padding-bottom: 20px;
}
.docx-navs>li li {
    list-style: none;
}
#docx-navs>li ul>li>a {
    line-height: 40px;
    display: block;
    text-decoration: none;
}
.docx-submenu>li{
    position: relative;
}
.docx-submenu{
    padding-left: 0;
}

.docx-submenu>li>a{
    padding-left: 3em;
}

.docx-submenu>li>.docx-submenu>li>a{
    padding-left: 5em;
}

.docx-submenu>li>.docx-submenu>li>a:before{
    background-color: transparent;
}
.docx-submenu>li>.docx-submenu>li>.docx-submenu>li>a{
    padding-left: 7.5em;
}

.docx-submenu>li>.docx-submenu>li>.docx-submenu>li>.docx-submenu>li>a{
    padding-left: 10em;
}
.docx-submenu>li>.docx-submenu>li>.docx-submenu>li>.docx-submenu>li>a:before{
    background-color: transparent;
}
.active>a>.fa.arrow:before {
    content: "\f107";
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 fa;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.sidebar .arrow {
    position: absolute;
    right: 16px;
    top: 12px;
}

.docx-fade {
    -moz-transform: translate3d(-10px, 0, 0);
    -moz-transition: all 500ms;
    border-left: 1px solid #e9e9e9;
}
.docx-dir>a:hover {
    color: #108ee9;
}
.nav>li>a{
    padding: 12px 15px;
}
body {
    background: #f1f4f7;
    color: #5f6468;
}

p {
    color: #777;
}

blockquote{
    font-size: 14px;
}

h1 {
    font-weight: 300;
    font-size: 40px;
}

h2 {
    font-weight: 300;
    margin-bottom: 20px;
}

h3, h4 {
    font-weight: 300;
}

.form-control {
    border: 1px solid #eee;
    box-shadow: none;
}

.form-control:focus {
    border: 1px solid #e9ecf2;
    outline: 0;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.navbar-header .navbar-brand {
    font-size: 16px;
    font-family: 'Raleway', 'Hiragino Sans GB', sans-serif;
    text-transform: uppercase;
    color: #108ee9;
    height: 80px;
    line-height: 80px;
    padding: 0;
}

/*Panels*/

.docx-panel {
    border: 0;
    background-color: #fff;
    border-radius: 4px;
}

.docx-panel-heading {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 66px;
    line-height: 45px;
}

.docx-panel-default .docx-panel-heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    color: #5f6468;
}


/*Navbar*/

.navbar {
    border: 0;
}

.navbar input, .navbar input:focus {
    border: 0;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: none;
    background: transparent;
    margin: 25px auto 0;
    border-left: 1px solid #EBEDEE;
    padding-left: 30px;
    text-indent: 8px;
}

.user-menu {
    list-style: none;
    padding: 0;
    position: relative;
}

.user-menu a:hover, .user-menu a:focus {
    text-decoration: none;
}

/* Sidebar */

.sidebar {
    background-color: #fff;
    padding: 0;
}

.sidebar form {
    padding: 20px 15px 5px 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
    }
    .navbar-header {
        width: 100%;
    }
}

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
    list-style: none;
    list-style-type: none;
}

.sidebar ul.nav ul.children {
    width: auto;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
    height: 40px;
    background: #f9f9f9;
    color: #222!important;
}

.sidebar ul.nav li.current a {
    background-color: #222;
    color: #fff!important;
}

.sidebar ul.nav li.parent ul li a {
    border: none;
    display:block;
    padding-left: 30px;
    line-height: 40px;
}

.sidebar span.glyphicon {
    margin-right: 10px;
}

.sidebar ul.nav li.divider {
    border-bottom: 1px solid #eee;
    margin: 20px 0;
}

.sidebar .attribution {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #eee;
    font-size: 12px;
}

/*Breadcrumbs*/

.breadcrumb {
    border-radius: 0;
    padding: 10px 15px;
    background: #e9ecf2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin: 0 ;
}
@media (min-width: 1500px) {
    .docx-wrapper{
        max-width: 1500px;
        margin: 0 auto;
        position: relative;
    }
    .sidebar {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fff;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
    }
    .docx-marked-wrap {
        margin-left: 345px;
    }
    .docx-searchForm .docx-sug {
        z-index: 1001;
    }
}
.docx-search-title{
    font-size: 18px;
    margin-bottom: 5px;
}
.docx-search-content{
    background-color: #f7f7f7;
}
.docx-search-content>a,.docx-search-content>a:hover{
    color: #333;
    text-decoration: none;
}
.doc-search-link {
    display: block;
}
.docx-search-art {
    line-height: 30px;
    margin: 15px 0;
}
.docx-search-nocontent,.docx-search-content{
    padding: 16px;
    overflow: auto;
    line-height: 27px;
    border-radius: 3px;
}
.docx-sug>ul{
    padding: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}
.docx-searchForm{
    position: relative;
    width: 230px;
    margin-bottom: 0;
}
.docx-sug{
    position: absolute;
    z-index: 10;
    width: 100%;
    display: none;
    max-height: 200px;
    overflow: auto;
    outline: none;
    border: 0;
    left: 30px;
    border-radius: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    font-size: 14px;
}

/* new style */
.docx-navbar{
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 80px;
    line-height: 80px;
    padding: 0 4%;
}
.docx-bd{
    background: #fff;
    width: 92%;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    padding: 24px 0 0;
    margin-bottom: 24px;
    position: relative;
    min-height: 90%;
}
#docx-navs a:hover {
    color: #108ee9;
}

.docx-marked>h1 {
    margin-top: 0;
}
.docx-active{
    color: #108ee9!important;
    background-color: #e7f4fd;
    border-right: 3px solid #108ee9;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.docx-wrapper a, .docx-wrapper a:hover {
    color: #108ee9;
}
.docx-sug a{
    display: block;
    clear: both;
    line-height: 25px;
    text-overflow: ellipsis;
    position: relative;
    padding: 7px 16px;
    font-weight: normal;
    color: #666;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}
.docx-sugul a:hover, .docx-dropd>li>a:hover,.docx-sugact{
    text-decoration: none;
    background-color: #e7f4fd;
    color: #666;
}
.docx-footer{
    clear: both;
    border-top: 1px solid #eee;
    font-size: 12px;
    background: #fff;
    position: relative;
    z-index: 1;
    color: #666;
    box-shadow: 0 1000px 0 1000px #fff;
    padding: 24px 4%;
    text-align: center;
}
.docx-navs a {
    color: #666;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.docx-active a {
    color: #108ee9!important;
}
.docx-dropd {
    right: 0;
    top: 80px;
    left: inherit;
    position: absolute;
    z-index: 10;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    outline: none;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.docx-ddown{
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    position: relative;
    border-bottom-width: 3px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    height: 79px;
    padding: 0 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.docx-dropd>li>a{
    display: block;
    clear: both;
    line-height: 25px;
    text-overflow: ellipsis;
    position: relative;
    padding: 7px 16px;
    font-weight: normal;
    color: #666;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}
.docx-ddown .divider{
    margin: 0;
}
.user-menu a {
    color: rgba(0, 0, 0, 0.65);
}
.docx-ddown:hover {
    border-bottom: 2px solid #108ee9;
    color: #108ee9;
}
.docx-ddown>a:hover{
    color: #108ee9;
}
.docx-dropdt{
    line-height: 80px;
    height: 80px;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar-brand:hover{
    color: #108ee9!important;
}
.panel-default{
    border: none;
}
.panel-default>.panel-heading{
    background: #f7f7f7;
    color: #666;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
    border: none;
}
.docx-h2 {
    margin-left: 0;
}
.docx-h3 {
    margin-left: 20px;
}
.docx-h4 {
    margin-left: 40px;
}
.docx-h5 {
    margin-left: 60px;
}
.docx-tips {
    position: fixed;
    right: 53px;
    bottom: 57px;
    width: 37px;
    height: 37px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAEnRSTlMAwIB/QBDwIKBg0DDgsFBwkI+FQ2/6AAABoklEQVR42u3bW27qQBBF0bLpp59Q8x/slS5RwInoGIWkKLLXDI5ktz+8WwAAAAAAAAAAAAAAsFBnVU1llC+c1Faq0jIO+uYkTauay60dSd8N0jKruSo3xaRXjtLQqblebup1I7sdknTj6HVI0K3B65BFP/A6pN4xpKi55SGPVlBrU5SbdKtIQ5g7UyXvf16CeJWTXpnFr0UvhiiOLek1dojEkv7PqOLfGEIWAAAAAAAAAAAAAAAA4NtCmVS7U5YvHJKaGoK0xPd69CBNVa2lvW188dzGD3qlp41v+J0h04u08aNudV6HBNp4E/vb+KlZCFtLUW6J97Txa6eW0jz+iTb+w6HlV9WL5LopvywZnNfYuZwPrF7ci6GGUQAAAAAAAAAAAAAAz2nnX924HCyto7Tlc3U5HaI0xUmNlceUD72aG3e3KE9ema6766AnH9LvrpKD1yFRt4rXIZ+aRq9D6qvksvd0v0c1Fx5SYuekxmbZ3cb30hBrb2rZ/7lOfqvG7f0Rz1lj3tzo8Sx2epZWce586633+34AAAAAAAAAAICf8Q9vyEq+Kz2MmgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 63%;
    background-color: #222;
    border-radius: 4px;
    background-position: center;
}
.docx-list {
    display: none;
    position: absolute;
    padding: 20px;
    width: 260px;
    right: 0px;
    bottom: 45px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0,0,0,0.15);
    max-height: 600px;
    overflow: auto;
}
.docx-editPath {
    position: absolute;
    right: 2em;
    top: .5em;
}
