<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <style>
        .docx-notfound{
            height: 500px;
            background-image: url(/images/notfound.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    </style>
</head>

<body>
<div class="docx-notfound" style="background: url(/images/notfound.png) no-repeat center;"></div>
</body>
</html>
