{{!-- pjax部分模板 --}}
<div class="row">
     <ol class="breadcrumb">
        <li>{{headText}}</li>
        {{{brandData}}}
    </ol>
</div>
<div class="row">
    <div class="col-lg-12 docx-fade">
        <div class="docx-panel docx-panel-default">
            <div class="markdown-body">
                <div class="docx-marked">
                    {{{mdData}}}
                </div>
            </div>
        </div>
    </div>
</div>